<div class="sidebar">
    <h1 class="blue">Your Order</h1>
    <div class="order-container eighty-percent">
        <div class="order-box">
            <!-- Looping over the lemonades object created in cart.ts and passing the values to cart-item. -->
            <!-- Here whenever this (passLemonadeEvent) from cart-item(child) occurs -->
             <!-- it then trigers another event that is created on cart.ts and return the action-->
            <app-cart-item *ngFor="let lemonade of lemonades"
            [lemonade] = "lemonade"
            (passLemonadeEvent) = "receiveLemonadeId($event)">
        </app-cart-item>
        </div>
        <h2 class="blue">Total Price: {{totalPrice | currency: "USD"}}</h2>
    </div>
    <!-- <div class="form-container eighty-percent">
        <select class="input-style one-hundred-percent">
            <option disabled selected>Select a Lemonade Stand</option>
            <option>Stand 1</option>
            <option>Stand 2</option>
        </select>
        <a>
            <button class="yellow-button font">Place Order</button>
        </a>
    </div> -->

    <!-- copied from customer form -->
    <form class="form-container eighty-percent" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        
        <select name="lemonadeStand" 
        class="input-style one-hundred-percent" 
        formControlName="selectedStand"
        (change)="updateSelectedStand()"
        >
            <option *ngFor="let lemonadeStand of lemonadeStands" [ngValue]="lemonadeStand">
                {{lemonadeStand.name}}
            </option>
        </select>
        <button class="yellow-button" >Place Order</button>
    </form>
</div>
